<!-- Footer -->
<footer class="home-ft">
  <ul class="ft-ul">
    <li class="ft-li">
      <a target="_blank" href="https://twitter.com/SuruAlv">
      <span class="fa-2x">
        <i class="fa-twitter fa"></i>
      </span>
      </a>
    </li>
    <li class="ft-li">
      <a target="_blank" href="https://github.com/plWang">
      <span class="fa-2x">
        <i class="fa-github fa"></i>
      </span>
      </a>
    </li>
    <li class="ft-li">
      <a target="_blank" href="https://medium.com/@SuruAlv">
      <span class="fa-2x">
        <i class="fa-medium fa"></i>
      </span>
      </a>
    </li>
    <li class="ft-li">
      <a target="_blank" href="http://weibo.com/3217390205/profile">
      <span class="fa-2x">
        <i class="fa-weibo fa"></i>
      </span>
      </a>
    </li>
  </ul>
</footer>
<script src="static/js/libs/jquery.min.js" ></script>
<script src="static/js/index.min.js" ></script>