html, body {
    font-size: 6.25%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    font-weight: 100;
}

a {
    color: #333;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

#page {
    font-size: 0;
}

@font-face {
    font-family: "Consolas";
    src: url(../fonts/Consolas.ttf);
}

.left-bar, .right-content {
    display: inline-block;
    padding-top: 44px
}

#bar-title, #bar-sub-title {
    width: 100%;
    text-align: center;
}

#bar-title {
    font-size: 22rem;
}

#bar-sub-title {
    font-size: 16rem;
    font-weight: 200;
    color: #aaa;
}

.left-bar li {
    font-size: 16rem;
    font-weight: 200;
    list-style: none;
    color: #333;
    padding: 4px 4px;
}

.article {
    margin: 40px 0;
}

.article .title {
    text-align: left;
    font-size: 23rem;
    color: #333;
}

.article .abstract {
    width: 80%;
    text-align: left;
    font-size: 16rem;
    color: #aaa;
}

.article .info {
    width: 70%;
    padding: 4px 0;
}

.detail {
    margin: 44px 20%;
}

.gallary, .home-poem {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .top-bar, .gallary {
        width: 100%;
    }
    
    .top-bar, .main-content {
        padding-top: 22px;
    }
    
    #home-img {
        display: block;
        width: 100%;
    }
    
    .title-line, #bar-list {
        display: none;
    }
    
    #float-algo, #float-js, #float-pt {
        position: absolute;
        font-size: 12.5rem;
        opacity: 0;
        transition: opacity 300ms ease;
        -webkit-transition: opacity 300ms ease;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 82px;
        height: 82px;
        text-align: center;
        line-height: 82px;
    }
    
    #float-algo a, #float-js a, #float-pt a {
        color: #fff;
    }
    
    #float-algo.shown, #float-js.shown, #float-pt.shown {
        opacity: 1;
    }
    
    #float-algo {
        left: 5%;
        top: 45%;
    }
    
    #float-js {
        left: 65%;
        top: 60%;
        transition-delay: 50ms;
        -webkit-transition-delay: 50ms;
    }
    
    #float-pt {
        left: 25%;
        bottom: 15%;
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
    }
    .abstract, .info {
        margin-top: 10px;
    }
    
    .info .catagory, .info .tags, .info .date {
        display: block;
        font-size: 14rem;
        font-weight: 200;
        color: #aaa;
    }
    
    .paint-img {
        width: 100%;
    }
        
}

@media only screen and (min-width: 769px) {
    .left-bar {
        width: 20%;
    }
    .right-content {
        width: 80%;
        vertical-align: top;
    }
    .gallary {
        width: 480px;
        max-width: 60%;
    }
    #home-img {
        display: block;
        width: 480px;
    }

    .home-poem {
        width: 40%;
        margin: auto;
        font-size: 16rem;
        padding-left: 40px;
        text-align: left;
    }
    .info .catagory, .info .tags, .info .date {
        display: inline-block;
        font-size: 14rem;
        font-weight: 200;
        color: #aaa;
    }

    .info .catagory {
        width: 30%;
    }

    .info .tags {
        width: 40%;
    }

    .info .date {
        width: 30%;
    }    
    .paint-img {
        width: 70%;
        display: block;
    }
}

.left-bar .title-line {
    width: 65%;
    height: 1px;
    margin: 15px auto;
    background-color: #aaa;
}

.right-content .title-line, .detail .title-line {
    width: 30%;
    height: 1px;
    margin: 10px 0;
    background-color: #aaa;
}
